<app-top-nav-bar [isAdmin]="isAdmin" [firstName]="firstName"></app-top-nav-bar>

<div class="display-page">
    <!-- Add book -->
    <div id="cart" fxLayout="row">
        <button mat-icon-button matTooltip="Add a book" (click)="openAddBookDialog()">
            <mat-icon class="add-book">add</mat-icon>
        </button>
    </div>
    <!-- display all books -->
    <div class="display-books-container">
        <div class="display-notes" fxLayout="row" *ngFor="let adminBook of adminBooks">
            <app-book [adminBook]="adminBook"></app-book>
        </div>
    </div>
</div>