<div class="display-page" fxLayout="column">
    <!-- Add book -->
    <div id="cart" fxLayout="row" fxLayoutAlign="space-between center">
        <div class="title">
            Books
            <span id="cart-size">({{ cartSize }} items)</span>
        </div>
        <div class="sort-choice">
            <form>
                <mat-form-field appearance="outline" id="my-form-field" style="font-size: 12px">
                    <mat-label>Sort by relevance</mat-label>
                    <mat-select [(value)]="selectedOption" (selectionChange)="onClickSortBooks()" class="mat-select">
                        <mat-option value="none">
                            Choose Relevance
                        </mat-option>
                        <mat-option value="highToLow">
                            Price:High To Low
                        </mat-option>
                        <mat-option value="lowToHigh">
                            Price:Low To High
                        </mat-option>
                        <mat-option value="newestArrival">
                            Newest Arrival
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </form>
        </div>
    </div>
    <!-- display all books -->
    <div class="display-books-container">
        <div class="display-notes" fxLayout="row" *ngFor="let adminBook of adminBooks
             | search: searchBookOnTitle
             | sortBooks: sortBy
             | paginate: { itemsPerPage: 8, currentPage: page, id: 'first' }">
            <app-book [adminBook]="adminBook" [isAdmin]="isAdmin"></app-book>
        </div>
    </div>

    <!-- <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator> -->
    <div class="paginator">
        <pagination-controls (pageChange)="page = $event" id="first" align=center>
        </pagination-controls>
    </div>
</div>