<div class="book-container">
    <mat-card>
        <mat-card-header>
            <img mat-card-image [src]="adminBook.imageUrl" alt="Book Photo">
        </mat-card-header>
        <mat-card-content>
            <div class="mat-title">{{ adminBook.title }}</div>
            <mat-card-subtitle>by {{ adminBook.author }}</mat-card-subtitle>
            <div class="mat-subheading-1">{{ adminBook.price }}</div>
            <mat-card-subtitle>Available quantity: {{ adminBook.availableQuantity }}</mat-card-subtitle>
        </mat-card-content>
        <mat-card-actions div fxLayout="row" fxLayoutGap="1%" *ngIf="!isAdmin; else admin">
            <button mat-button id="add-to-bag" (click)="addToCart(adminBook.bookId)"
                *ngIf="!adminBook.isAddedToBag; else removeFromBag">Add to Bag</button>
            <ng-template #removeFromBag>
                <button mat-button id="remove-from-bag" (click)="addToCart(adminBook.bookId)">Remove Item</button>
            </ng-template>
            <button mat-button id="watchlist" (click)="addToWatchList(adminBook.bookId)"
                *ngIf="!adminBook.isAddedToWatchList; else removeFromWatchList">Watchlist</button>
            <ng-template #removeFromWatchList>
                <button mat-button id="remove-watch" (click)="addToWatchList(adminBook.bookId)">Remove</button>
            </ng-template>
        </mat-card-actions>
        <ng-template #admin>
            <mat-card-actions div fxLayout="row">
                <button mat-button id="delete-the-book" (click)="removeBookFromList(adminBook.bookId)">Delete the
                    Book</button>
            </mat-card-actions>
        </ng-template>
    </mat-card>
</div>