<app-top-nav-bar [isAdmin]="isAdmin" [firstName]="firstName"></app-top-nav-bar>

<div class="display-page">
    <!-- Add book -->
    <div id="cart" fxLayout="row">
        sort oprations and remaining operations
    </div>
    <!-- display all books -->
    <div class="display-notes" fxLayout="row">
        <app-book></app-book>
        <app-book></app-book>
        <app-book></app-book>
        <app-book></app-book>
        <app-book></app-book>
        <app-book></app-book>
        <app-book></app-book>
        <app-book></app-book>
        <app-book></app-book>
        <app-book></app-book>
        <app-book></app-book>
        <app-book></app-book>
        <app-book></app-book>
        <app-book></app-book>
        <app-book></app-book>
        <app-book></app-book>
    </div>
</div>