// fixing the position of top nav bar
app-top-nav-bar {
  width: 100%;
  overflow: hidden;
  padding-bottom: 1px;
}

// simple making the note fit to page
.display-notes {
  position: relative;
  flex-wrap: wrap;
  padding: 10px 7%;
  display: block;
  justify-content: space-between;
  align-items: flex-start;
  float: left;
}

// overall padding assigned to all individual books
app-book {
  padding: 10px;
}

// calculated the height to be substracted from 100vh as top nav bar
.display-page {
  background: rgba($color: #ddd, $alpha: 0.8);
  height: calc(100vh - 64px);
  overflow: auto;
  box-sizing: border-box;
}
