.example-second-footer-row td {
  color: #900000;
}
table {
  width: 100%;
  align-items: left;
}
.example-first-header-row th {
  border-bottom: none;
}
#home {
  transform: scale(1.5);
}
mat-card {
  width: 400px;
  padding: 10px;
  background-color: #fff;
}
