<mat-horizontal-stepper [linear]="isLinear" #stepper>
    <mat-step>
        <ng-template matStepLabel>Items in Cart</ng-template>
        <mat-list *ngFor="let book of cartList" fxLayout="row">
            <mat-list-item id="image">
                <img [src]="book.imageUrl" alt="book image" height="50px" width="50px">
            </mat-list-item>
            <mat-list-item id="title">
                {{book.title}}
            </mat-list-item>
            <mat-list-item>
            </mat-list-item>
            <mat-list-item id="price">
                ₹. {{book.price}}.00
            </mat-list-item>
            <mat-list-item fxLayout="column">
                <div><button mat-icon-button (click)="decreseQuantity(book)">
                        -
                    </button>
                </div>
                <div>{{ book.purchasedQuantity}}</div>
                <div><button mat-icon-button (click)="increaseQuantity(book)">
                        +
                    </button>
                </div>
            </mat-list-item>
            <mat-list-item id="total">
                ₹. {{book.purchasedQuantity * book.price}}.00
            </mat-list-item>
            <mat-list-item id="remove-from-cart">
                <button mat-icon-button color="warn" *ngIf="book.addedToCart" (click)="removeFromCart(book)">
                    <mat-icon>cancel</mat-icon>
                </button>
            </mat-list-item>
            <mat-divider></mat-divider>
        </mat-list>
        <div align=right style="margin: 20px 40px 0 0; ">
            <button mat-raised-button matStepperNext color="primary">Next</button>
        </div>
    </mat-step>
    <mat-step [stepControl]="addressFormGroup">
        <form [formGroup]="addressFormGroup">
            <ng-template matStepLabel>Fill out your address</ng-template>
            <div class="address" align=center>
                <mat-card fxLayout="column" fxLayoutAlign="space-around center" align=center
                    style="width: 400px; padding: 10px; background-color: #fff;">
                    <mat-form-field>
                        <mat-label>Street</mat-label>
                        <input matInput placeholder="Enter street name">
                    </mat-form-field>

                    <mat-form-field>
                        <mat-label>Town</mat-label>
                        <input matInput placeholder="Enter town name" required>
                    </mat-form-field>

                    <mat-form-field>
                        <mat-label>District</mat-label>
                        <input matInput placeholder="Enter district name" required>
                    </mat-form-field>

                    <mat-form-field>
                        <mat-label>State</mat-label>
                        <input matInput placeholder="Enter state name" required>
                    </mat-form-field>

                    <mat-form-field>
                        <mat-label>Country</mat-label>
                        <mat-select>
                            <mat-option *ngFor="let country of countryInfo; let i = index" [value]="i">
                                {{country.CountryName}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>

                    <mat-form-field>
                        <mat-label>Pin code</mat-label>
                        <input matInput placeholder="Enter pin code" required>
                    </mat-form-field>
                </mat-card>



                <!-- <div class="form-group">
                    <label>Select Country</label>
                    <select (change)="onChangeCountry($event.target.value)">
                        <option *ngFor="let country of countryInfo; let i = index" [value]="i">{{country.CountryName}}
                        </option>
                    </select>
                </div>

                <div class="form-group">
                    <label>Select State</label>
                    <select class="form-control" (change)="onChangeState($event.target.value)">
                        <option *ngIf="stateInfo == ''" value="-1">--Select State--</option>
                        <option *ngFor="let state of stateInfo; let j = index" [value]="j">{{state.StateName}}
                        </option>
                    </select>
                </div>

                <div class="form-group">
                    <label>Select City</label>
                    <select class="form-control">
                        <option *ngIf="cityInfo == ''" value="-1">--Select CIty--</option>
                        <option *ngFor="let city of cityInfo; let k = index" [value]="k">{{city}}</option>
                    </select>
                </div> -->




            </div>
            <div fxLayout="row" fxLayoutAlign="space-evenly center">
                <button mat-raised-button matStepperPrevious color="primary">Back</button>
                <button mat-raised-button matStepperNext color="primary">Next</button>
            </div>
        </form>
    </mat-step>
    <mat-step>
        <ng-template matStepLabel>Done</ng-template>
        <p>You are now done.</p>
        <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button (click)="stepper.reset()">Reset</button>
        </div>
    </mat-step>
</mat-horizontal-stepper>