<mat-horizontal-stepper [linear]="isLinear" #stepper>
    <mat-step [stepControl]="firstFormGroup">
        <ng-template matStepLabel>Items in Cart</ng-template>

        <mat-list *ngFor="let book of cartList" fxLayout="row">
            <mat-list-item id="image">
                <img [src]="book.imageUrl" alt="book image" height="50px" width="50px">
            </mat-list-item>
            <mat-list-item id="title">
                {{book.title}}
            </mat-list-item>
            <mat-list-item>
            </mat-list-item>
            <mat-list-item id="price">
                ₹. {{book.price}}.00
            </mat-list-item>
            <mat-list-item fxLayout="column">
                <div><button mat-icon-button (click)="increaseQuantity(book)">
                        +
                    </button>
                </div>
                <div>{{ book.purchasedQuantity}}</div>
                <div><button mat-icon-button (click)="decreseQuantity(book)">
                        --
                    </button>
                </div>
            </mat-list-item>
            <mat-list-item id="total">
                ₹. {{book.purchasedQuantity * book.price}}.00
            </mat-list-item>
            <mat-list-item id="remove-from-cart">
                <button mat-icon-button color="warn">
                    <mat-icon>cancel</mat-icon>
                </button>
            </mat-list-item>
            <mat-divider></mat-divider>
        </mat-list>
        <div align=right style="margin: 20px 40px 0 0">
            <button mat-raised-button matStepperNext color="primary">Next</button>
        </div>
    </mat-step>
    <mat-step [stepControl]="secondFormGroup">
        <form [formGroup]="secondFormGroup">
            <ng-template matStepLabel>Fill out your address</ng-template>
            <mat-form-field>
                <mat-label>Address</mat-label>
                <input matInput formControlName="secondCtrl" placeholder="Ex. 1 Main St, New York, NY" required>
            </mat-form-field>
            <div>
                <button mat-button matStepperPrevious>Back</button>
                <button mat-button matStepperNext>Next</button>
            </div>
        </form>
    </mat-step>
    <mat-step>
        <ng-template matStepLabel>Done</ng-template>
        <p>You are now done.</p>
        <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button (click)="stepper.reset()">Reset</button>
        </div>
    </mat-step>
</mat-horizontal-stepper>