<div class="add-book-container">
    <mat-card>
        <ngx-spinner *ngIf="showSpinner" bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff"
            type="ball-scale-multiple">
            <p style="font-size: 20px; color: white">Loading...</p>
        </ngx-spinner>
        <mat-card-title>
            Add a book
        </mat-card-title>
        <form [formGroup]="addBookForm"
            (ngSubmit)="addBookForm.valid && addBookForm.get('imageUrl').value !== '' && onSubmit()">
            <mat-card-content>
                <div class="book-info" fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="2%">
                    <div class="title">
                        <mat-form-field appearance="legacy">
                            <mat-label>Title</mat-label>
                            <input matInput placeholder="Enter book title" formControlName="title" required>
                            <mat-error *ngIf="addBookForm.get('title').hasError('required')">Must enter Tile of the book
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div class="author">
                        <mat-form-field appearance="legacy">
                            <mat-label>Author</mat-label>
                            <input matInput placeholder="Enter author name" formControlName="author" required>
                            <mat-error *ngIf="addBookForm.get('author').hasError('required')">Must enter Book's Aut name
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>
                <div class="numeric-info" fxLayoutAlign="space-between center" fxLayoutGap="2%">
                    <div class="price">
                        <mat-form-field appearance="legacy" style="width: 85%;">
                            <mat-label>Price</mat-label>
                            <input matInput type="number" formControlName="price" required min="0">
                            <mat-error *ngIf="addBookForm.get('price').hasError('required')">Assign some price value
                            </mat-error>
                            <mat-error *ngIf="addBookForm.get('price').hasError('min')">Can't assign negative value
                            </mat-error>
                            <span matPrefix>₹&nbsp;&nbsp;</span>
                            <span matSuffix>.00</span>
                        </mat-form-field>
                    </div>
                    <div class="quantity">
                        <mat-form-field appearance="legacy" style="width: 95%;">
                            <mat-label>Quntity</mat-label>
                            <input matInput type="number" formControlName="availableQuantity" required min="1">
                            <mat-error *ngIf="addBookForm.get('availableQuantity').hasError('required')">Mention
                                available quantities</mat-error>
                            <mat-error *ngIf="addBookForm.get('availableQuantity').hasError('min')">Minimum 1 quantity
                                required</mat-error>
                        </mat-form-field>
                    </div>
                </div>
                <!-- <div class="image">      
                    <img [src]="imageFile ? imageFile.link : 'sss/ssa'">                
                    <button mat-icon-button matTooltip="Cart" onclick="document.querySelector('#inputFile').click()">
                        <mat-icon class="mat-icon-cart">attach_file</mat-icon>
                    </button>
                    <input type="file" id="inputFile" (change)="imagesPreview($event)" style="display: none;">
                </div> -->
                <div class="image" fxLayout="row" fxLayoutAlign="space-between center">
                    <div class="input-link">
                        <mat-form-field appearance="legacy">
                            <mat-label>Image url</mat-label>
                            <input matInput formControlName="imageUrl" [(ngModel)]="myUrl">
                        </mat-form-field>
                    </div>
                    <div class="display-image">
                        <ng-container class="image" *ngIf="myUrl != null && myUrl != ''; else nonImg">
                            <img [src]="myUrl" alt="Image not supported" height="100" width="80">
                        </ng-container>
                        <ng-template #nonImg class="non-image">
                            <mat-icon class="mat-icon-cart">attach_file</mat-icon>
                        </ng-template>
                    </div>
                </div>
            </mat-card-content>
            <mat-card-actions>
                <div class="submit">
                    <button mat-raised-button color="primary" type="submit">
                        Add New Book
                    </button>
                </div>
            </mat-card-actions>
        </form>
    </mat-card>
</div>